   body {
   	margin: 60px auto;
   	width: 70%;
   }
   .centered {
   	display: flex;align-items: center;justify-content: center;flex-direction: column; width: 100%; text-align: center; margin: 10% 0; min-height: 200px;
   }
   nav ul, footer ul {
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
   	padding: 0px;
   	list-style: none;
   	font-weight: bold;
   	padding: 10px;
   }
   ul{
	padding-inline-start: 10px;

   }
   ul li { padding: 5px;}
   li {
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
   	padding: 0px;
   	list-style: none;
   	font-weight: bold;
   	display: inline;
   }
   a {
   	text-decoration: none;
   	line-height: 1.4em;
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
   	color: #84bcbd;
   }
   a:hover {
   	text-decoration: underline;
   }
   ab {
   	text-decoration: none;
   	line-height: 1.4em;
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
    font-weight: bold;
   	color: #84bcbd;
   }
   ab:hover {
   	text-decoration: underline;
    font-weight:bold;
   }
   h1 {
   	font-size: 2em;
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
   	font-weight: bold;
   }
   h2 {
   	font-size: 1.5em;
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
   	font-weight: 'bold'
   }
   h3 {
   	font-size: 1.17em;
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
   	font-weight: 'bold';
   	color: #666666;
   }
   p {
   	font-size: 1em;
   	line-height: 1.4em;
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
   	color: #666666;
   }
   authors {
   	font-size: 0.9em;
   	line-height: 0.5em;
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
   	color: #666666;
   }
   conf {
	font-size: 0.9em;
	line-height: 0.5em;
	font-family: 'Arial', 'Helvetica', 'Sans-Serif';
	color: #666666;
  }
  
   confnote {
	font-style: italic;
	color: #0015ff;
  }
   paperlinks {
	font-size: 0.75em;
	line-height: 0.5em;
	font-family:'Courier New', Courier, monospace;
	color: #dcbae8;
	letter-spacing: -0.5px;
	font-weight: 600;
	}
	paperlinks:hover {
	 text-decoration: underline;
	 font-weight:bold;
	}
   ul.posts { 
   	margin: 20px auto 40px; 
   	font-size: 1.5em;
   }
   ul.posts li {
   	list-style: none;
   }
   summary {
	font-size: 1.25em;
   	line-height: 1.4em;
   	font-family:'Arial', 'Helvetica', 'Sans-Serif';
   	color: #666666;
   }
   smalltype {
	font-size: 0.85em;
	font-family:'Courier New', Courier, monospace;
	color: #84bcbd;
	letter-spacing: -0.5px
   }
   container {
    display:flex;  
    gap: 20px;
    text-align:left;
    justify-content: left;
	align-items:center;
  	}
    centcontainer {
		display:flex;  
		gap: 20px;
		text-align:center;
		justify-content: center;
		align-items:center;
	}
	i:hover {
		color: #dcbae8;
	}

